body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E5EE;
    color: #2A324B;
}

header {
    background-color: #2A324B;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #58699D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}